

footer{
	background-color: #C0C0C0;
	min-height: 100px;
	text-align: center;
}

footer p{
}

.topShow{
	background-color:#28A4C9;
	color:#FFFFFF;
}

.productList{
	display:none;
	margin-bottom:50px;
}

.productList .product{
	display:none;
	margin-top: 30px;
}
